/* Contact Page style */
.tel-link {
    background-color: #040404;
    padding: 2%;
    margin: 0 auto;
    width: 25%;
    text-align: center;
    border-radius: 59px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.round {
    border-radius: 8px;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}


#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 4px solid #000;
    width: 95%;
    height: 50%;
    border-radius: 15px;
}

fieldset {
    text-align: center;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.1em;
}

label {
    display: block;
    padding-top: 2%;
}

form #submit {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}

form #reset {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}


/* Media Query for mobile Viewport */
@media screen and (max-width: 600px) {
    .tel-link {
        width: 80%;
    }

    .map {
        width: 100%;
        height: auto;
    }
}


/* Media Query for tablets */
@media screen and (min-width: 610px) and (max-width: 1024px) {
    .tel-link {
        width: 60%;
    }

    .map {
        width: 90%;
        height: auto;
    }

    /* Tablet Viewport: Style rule for form element */
    form {
        width: 60%;
        margin: 0 auto;
    }
}


/* Media Query for desktops */
@media screen and (min-width: 1025px) {

    .tel-link {
        width: 60%;
    }

    .map {
        width: 90%;
        height: auto;
    }

    /* Desktop Viewport: Style rules for form elements */
    form {
        width: 50%;
        margin: 0 auto;
    }

}